*{
    padding: 0;
    margin: 0;
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#teach{
    font-size: 1.5vw;
}
#teach{
    width: 30%;
    padding: 0 2vw;
    background-color: #f3f5fb;
    
}
#teach h1{
    color: rgb(42, 132, 235);
    margin-bottom: 69px; 
}
#teach h1 strong{
    color: rgb(220, 17, 17);
}
li{
    margin: 2vh auto;
    
}
ul{

    list-style-type: none;
}
ul .icon{
    color: rgb(24, 237, 24);
    margin: auto 1vw;
}
#icon{
    font-size: 1.15vw ;
    margin: auto 1vw;
    border: 1px solid;
    border-radius: 50%;
    padding: 0.2vh 0.3vw;
}
#p{
    color: rgb(43, 64, 224);
}
img{
    margin-top: 5vh;
    width: 90%;
    height: 35%;
}
#finish{
    margin: auto;
    padding: 2.5vw;
    padding-bottom: 1vw;
    display: grid;
    justify-items: center;
    gap: 4vh;
   
    font-size: 1.5vw;
}
h4{
    position: absolute;
    top: 1.5vw;
    right: 2vh;
    text-align: right;
    margin-right: 25px ;
    font-size: 1vw;
    margin-top: 20px;
    margin-bottom: 50px;
    
    
}
.online {
    display: flex;
    justify-content: space-between;
}
.one{
    border-radius: 10px;
    display: grid;
    width: 25vw;
    padding: 2vh;
}
input{
    margin: 3px;
    width: 98%;
}
#intro,.online{
    width: 90%;
}
#intro{
        margin-top: -10vh;
        margin-bottom: 5vh;
}
#btn{
    position: relative;

   top: 10vh;
   
}
.one,input{
    border: 0;
    background-color: #f3f5fb;
}

.boutons{
    font-size: 1.5vw;
    padding: 1.2vh;
    cursor: pointer;
}
#pre{
    border: none;
    background-color: transparent;
}
#sui{
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 2vw;
    background-color: transparent;
    color: rgb(43, 64, 224);
}
a{
    text-decoration: none;
}
